@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@font-face {
  font-family: ıntlAntique;
  src: url(./fonts/Suisse-BP-Intl-Antique.otf);
}

/* @font-face {
  font-family: ıntlRegular;
  src: url(./fonts/Suisse-BP-Intl-Regular.otf);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: ıntlAntique;
  /* font-family: ıntlRegular; */
  /* font-family: saintecolombe, sans-serif; */
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Kalam", cursive; */
  /* font-family: "Sawarabi Mincho", serif; */
  /* font-family: "Gloria Hallelujah", cursive; */

  color: white;
}
html {
  /* background-color: #fcf9ec; */
  /* background-color: #eaeaea; */
  /* background-color: #deefe7; */
  /* background-color: #9aebdc; */
  /* background-color: #fdfeff; */
  background-color: #fff;
}

.first {
  width: auto;
  height: 100vh;
  /* background-image: url("./assets/pla.png"); */
  /* object-fit: cover; */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* filter: sepia(100%); */
  /* position: fixed; */
  top: 0;
}

.second {
  width: auto;
}

.third {
  width: auto;
}

.line {
  width: 100%;
  max-width: 1400px;
  height: 20px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  background-color: #023047;
}

.logo-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

#workout-logo {
  width: 1000px;
  height: 600px;
  margin-top: 10px;
}

#gsap-logo {
  width: 1000px;
  height: 600px;
  margin-top: 50px;
  padding-right: 80px;
}

#happy-logo {
  width: 1000px;
  height: 600px;
}

.second-paragraph {
  font-size: 30px;
  margin-top: 40px;
}

.third-paragraph {
  font-size: 30px;
  margin-top: 40px;
}

.click-btn {
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 35px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.click-btn-active {
  display: none;
}

span {
  /* background-image: linear-gradient(yellow, yellow); */
  color: white;
  /* background-size: 0% 100%; */
  /* background-repeat: no-repeat; */
  /* transition: background-size 1s ease-in-out; */
  /* transition: color 0.2s ease-in-out; */
}

.header_header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem 0;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-icon {
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: background-color 0.4s ease-in-out;
  /* white-space: nowraps; */
}

.menu-icon i {
  color: #b2b2b2;
}

.menu-icon:hover {
  background-color: "red";
  cursor: pointer;
}

.menu-icon:hover i {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.header_left svg {
  width: 8rem;
  margin-top: 0.3rem;
}

.pre-button {
  background-color: #00abb3;
  color: #3c4048;
  border-radius: 33px;
  padding: 0.5rem 0.7rem;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 19.5px;
  transition: all 0.3s ease-in;
}

.pre-button:hover {
  background-color: #3c4048;
  color: #00abb3;
  cursor: pointer;
}

.side {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}
.sidenav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  gap: 2rem;
  margin-top: 3rem;
  /* padding: 6rem 0; */
  /* overflow: ; */
  /* z-index: 1; */
  /* background-color: blue; */
}
.sidenav div {
  font-size: 40px;
  color: #818181;
  margin: 2rem 0;
  overflow: none;
  scroll-behavior: none;
  /* transition: 0.3s; */
}

.sidenav div:hover {
  color: #f1f1f1;
}

.side-bottom {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  margin: 0 1rem 1rem 0;
  align-items: end;
}

.side-bottom a {
  color: #818181;
  text-decoration: none;
}

/* .side-bottom a:hover {
  color: #f1f1f1;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
} */

.nav-item,
.social {
  display: inline-block;
  padding-bottom: 0.1rem;
  position: relative;
  cursor: pointer;
}

.nav-item::before,
.social::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #c7ffca;
  transition: width 0.25s ease-in-out;
}

.nav-item:hover::before,
.social:hover::before {
  width: 100%;
}

body.scroll-lock {
  overflow: hidden;
}

.bottom-arrow {
  text-align: center;
  margin: 3rem auto -1.2rem;

  /* padding: 5px; */
  /* font-size: 40px; */
  /* margin-top: 1rem; */
  position: relative;
}
.bottom-arrow i {
  position: absolute;
  animation: MoveUpDown 1s ease-in-out infinite;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  border-radius: 50%;
  padding: 2rem;
  margin: 0 -3rem;
}
.bottom-arrow i:hover {
  /* background-color: #c7ffca; */
  cursor: pointer;
  transition: all 0.3s ease-in;
}

@keyframes MoveUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }

  100% {
    top: 0px;
  }
}

.img-container-parent {
  background-color: #000;
  display: grid;
  place-items: center;
  height: 100%;
  /* margin: 7rem 0; */
  padding: 0 0 10rem;
}

.img-container {
  /* max-width: 600px; */
  /* max-height: 350px; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.img-container img {
  width: 295px;
  height: 350px;
  border-radius: 15%;
  object-fit: cover;
  opacity: 0.3;
  transform-origin: center;
  transform: perspective(999px) rotateY(25deg);
  transition: 0.5s;
}

.img-container img:nth-child(4),
.img-container img:nth-child(5),
.img-container img:nth-child(6) {
  margin-top: 2rem;
  /* transform: perspective(800px) rotateY(-25deg); */
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0004);
}

.img-container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.contact-form {
  display: flex;
  align-items: center;
  background-color: #0d3331;
}

.form {
  text-align: center;
}
.form h1 {
  font-size: 45px;
  margin-bottom: 3rem;
}
.form p {
  margin: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
input,
textarea {
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid #c7ffca;
  resize: none;
}

::-webkit-input-placeholder {
  color: #fff;
}

form > button {
  background-color: #c7ffca;
  border: 1px solid #c7ffca;
  color: #000;
  border-radius: 33px;
  padding: 0.5rem 0.7rem;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 19.5px;
  width: 120px;
  margin: auto;
  transition: all 0.3s ease-in;
}

form > button:hover {
  background-color: #0d3331;
  border: 1px solid #c7ffca;
  color: #c7ffca;
  cursor: pointer;
}
